@font-face{
	font-family: monofont;
	src: url(../fonts/JandaCelebrationScript.ttf);
}
@font-face{
	font-family: textfont;
	src: url(../fonts/stewartsans.ttf);
}
body { 
	background: url(../img/web_back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mainbox1,#mainbox2, #mainbox3{
float:left;
width:100%;
}

#box1,#box2, #box3, #box4, #box5{
		float: left;
margin-left: 20%;
margin-right: 20%;
display: inline-block;
font-family: textfont;
color: #FFF;
background: none repeat scroll 0% 0% #91634C;
border: 2px solid #361200;
border-radius: 10px;
width: 60%;
height: 200px;
}



#cname{
	width: 16%;
background-color: #91634C;
display: inline-block;
padding: 7px;
letter-spacing: 5px;
font-family: monofont;
font-size: 38px;
font-weight: bold;
color: #FFF;
margin-left: 42%;
margin-top: -12px;
margin-bottom: 10px;
border-radius: 10px;
text-align: center;
}
#wrapper{
	float:left;
	width:33.3%;
}
.heading{
	font-weight:normal;
	font-family:monofont;
	margin-top: 5%;
	font-family: calibri;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 25px;
}
.container{
	font-family:textfont;
	float: left;
	text-align: center;
	width: 98%;
	height:180%;
	padding: 1%;
	margin-top: auto;
}
#deleteuserform{
	margin-top:26%;
	height:50%;
	width:100%;
	float:left;
}
#rechargeform{
	margin-top:10%;
	height:50%;
	width:100%;
	float:left;
}
#deductform{
	margin-top:10%;
	height:50%;
	width:100%;
	float:left;
}
#passwordform{
	margin-top:10%;
	height:50%;
	width:100%;
	float:left;
}
.forminput, .forminput1{
	float: left;
	height: 4px;
	width: 80%;
	margin-left: 10%;
}
.forminput1{
	position:relative;
	float: left;
	height: 25px;
	width: 80%;
	margin-left: 10%;
}
.forminput input{
	height: 20px;
	width: 98%;
	padding: 1%;
}
.forminput{
	position:relative;
	float: left;
	height: 45px;
	width: 80%;
	margin-left: 10%;
}
.forminput input{
	border-radius:5px;
	border:1px solid #000000;
}
label.error,div.error{
	font-size:12px;
	padding:0;
	margin-top:0px;
    font-weight:bold;
    color:#FFFFFF;
}
input.error{
	border:2px solid #FF0000;
}