@font-face{
	font-family: monofont;
	src: url(../fonts/JandaCelebrationScript.ttf);
}
@font-face{
	font-family: textfont;
	src: url(../fonts/stewartsans.ttf);
}
body { 
	padding:0;
	margin:0;
	/*background: url(../img/web_back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
.footer{
	border:0px;
	border-top:5px;
	border-color: #2A0A0A;
	border-style: solid;
	border-opacity:1.0;
	border-radius:5px;
	width: 100%;
	height: 30%;
	margin-top: 3.5%;
	float: left;
	background-color: #361200;
	padding-left: 0%;
	opacity:0.9; 
	z-index: 100;
	/*
	-webkit-box-shadow: inset 5px 4px 39px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 5px 4px 39px 8px rgba(0,0,0,0.75);
	box-shadow: inset 5px 4px 39px 8px rgba(0,0,0,0.75);*/
}

/*.shade{ 
	border-color:orange;
	width: 100%;
	border:0px;
	border-top:0px;
	border-top-style: solid;
	z-index: -40;
}*/
.copyright{
	width: 85%;
font-size: 71%;
margin-left: 17%;
margin-top: 46%;
	}

.footer ul{
	/*float: left;*/
	float: left;

	list-style-type: none; 
}
.footer li{
margin-left: 20px;
float: left;
display: inline;
width: 23%;
}

.columns{
	float: left;
	color: #BDBDBD;
	width: 100%;
	height: 100%;
	border-color: orange;
	border-style: solid;
	border:3px;
	background-color: #361200;
	margin-left: 0%;	
}
 .headings1{
float: left;
font-size: 150%;
padding-top: 0%;
margin-left: 32%;
border-width: 0px 0px 2px;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-style: solid;
border-color: #151515;
}

.vi-headings1{
	.headings1;
	font-size: 150%;
	margin-left: 10%;
	border-width: 0px 0px 2px;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-style: solid;
border-color: #151515; 
}

 .subheadings{
	font-size: 80%;
	padding: 2px;
	margin-left: 30%;
	text-decoration: none;
 }
 .subheadings1{

	font-size: 80%;
	padding: 2px;
	margin-left: 10%;
	text-decoration: none;

 }

 .icons{
margin-top: 6%;
margin-left: 30%;
float: left;
width: 109%;
	/*
	border-style:solid;
	border-width: 2px;
	border-color: white;*/
 }
 .icons img {
	padding-top: 5%;
 }

 a{color: #BDBDBD;

 	/*text-decoration: none;
 */}
