@import url("headerstyle.css");
.offers{
	margin-top:2.5%;
	float:left;
	width:100%;
}

.kavyashopproducts{

border-radius:5px;
margin-top:1%;
float:left;
width:100%; 
}
.kavyashopproductitem{

float:left;
width:32%;
height:250px;
padding:0.65%;


}
.kavyashopproductitem img{
width:90%;
height:60%;
margin-left:5%;
}
.kavyaitemname{
font-family:textfont;
float:left;
width:100%;
padding:1%;
text-align:center;
}
.kavyaitemprice{
font-family:textfont;
padding:1%;
text-align:center;
float:left;
width:100%;
}
.kavyaitembrand{
font-family:textfont;
padding:1%;
text-align:center;
float:left;
width:100%;
}