@font-face{
	font-family: monofont;
	src: url(../fonts/JandaCelebrationScript.ttf);
}
@font-face{
	font-family: textfont;
	src: url(../fonts/stewartsans.ttf);
}
body { 
	padding:0;
	margin:0;
	/*background: url(../img/web_back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
#box{
	width:85%;
	margin-left:auto;
	margin-right:auto;
}
.imgslide{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
#fixed_head{
	/*box-shadow:-7px 7px 5px #888888;*/
	border: 1px solid black;
	background-color:#361200;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	float:left;
	width:85%;
	height:83px;
	padding:0;
	opacity: 0.8;
	position:fixed;
	z-index:50;
	top:0px;
	margin-top:0px;
}
.cname{
	display: inline-block;
	padding: 0px;
	letter-spacing:5px;
	font-family:monofont;
	font-size:50px;
	font-weight:bold;
	color:white;
	margin-left:100px;
	margin-top:2px;
	margin-bottom:10px;
}
.loginaccount{
	float:right;
	display: inline-block;
	}
.reglog{
	padding-left:10px;
	float:left;
	display: inline-block;
	margin-right:20px;
	cursor:pointer;
	padding-top:10px;
	font-size:12px;
	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
	color:#FFFFFF;
}
.reglog:hover{
	text-shadow: 0.5px 0.49px #ffffff;
}
.myaccount:hover{
	text-shadow: 0.5px 0.49px #ffffff;
}
.myaccount{
	float:right;
	display: inline-block;
	margin-right:10px;
	cursor:pointer;
	padding-top:10px;
	font-size:12px;
	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
	color:#FFFFFF;
}
.wrapper{
	font-family:calibri;
	padding-top: 2%;
	padding-left: 0;
	margin-top: 15%;
	margin-bottom: 1%;
	padding-bottom: 3%;
	border-width: 0px;
	border-style: solid;
	width: 100.2%;
	height: 80%;
	float: left;
	border-radius: 5px;
	background: #4a2a1a;
}

.deta{
	width: 100%;
	border-width: 2px;
	/*border-style: solid;*/
	float:left;
	/*background:rgba(175,175,173,1);*/
	
}

.fullname{
	float: left;
	padding-left: 3%;
	font-size: 200%;
	/*border-width: 2px;
	border-style: solid;*/
	width: 100%;
	color: white;
	/*background-color:rgba(175,175,173,1);*/
}

.userinfo{
	width: 45%;
	margin-top: 5%;
	margin-left: 5%;
	/*border-width: 2px;
	border-style: solid;*/
	float: left;
}
.data_name{
	padding-top: 2%;
	float: left;
	width: 20%;
	height: 30%;
	/*border-style: solid;*/
	font-size: 150%;
	text-align: left;
	color:white;
}

.data{

	-webkit-box-shadow: inset 1px 1px 18px 5px rgba(175,175,173,1);
	-moz-box-shadow: inset 1px 1px 10px 5px rgba(175,175,173,1);
	box-shadow: inset 1px 1px 10px 5px rgba(175,175,173,1);
	background-color: #F7F7F7;
	padding-left: 2%;
	margin-left:25%; 
	margin-top: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
	/*border-width: 2px;
	border-style: solid;*/
	width: 60%;
	border-radius: 5px;
	font-size: 100%;

}

#trans_table{
	color: white;
	width: 100%;
	margin-top: 8%;
	margin-left: 0%;
	background-color: #835841;
	border-radius: 5px;
	box-shadow: 10px;
	padding-left: 0;
	float: left;
	height: 30%;
	/* overflow-y: scroll; */
	overflow-x: hidden;
}

#trans_table table{
	float: left;
	width:100%;
}
#left table td{
	border-left-width: 0px;
}
#trans_table table th{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	width: 20%;
	font-size: 120%;
	margin-left: 2%;
}
#pasttrans{
	text-transform:capitalize;
	width:70%;
	position:fixed;
	margin-left:15%;
	margin-top:5%;
	display:none;
}
#trans_table table td{
	border-width: 1px;
	border-color: #BDBDBD;
	border-style: solid;
}

#trans_table table tr{
	width: 20%;
	text-align: center;
}
#transbutton {
	-moz-box-shadow:inset 0px 12px 9px -6px #91b8b3;
	-webkit-box-shadow:inset 0px 12px 9px -6px #91b8b3;
	box-shadow:inset 0px 12px 9px -6px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:2px solid #566963;
	color:#ffffff;
	font-family:Verdana;
	margin-top: 5%;
	margin-left: 5%;
	font-size:17px;
	padding:8px 29px;
	text-decoration:none;
	text-shadow:1px 1px 0px #2b665e;
	float: left;
}
#transbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
#transbutton:active {
	position:relative;
	top:1px;
}

