.shopdetail{
	box-shadow:0px 0px 15px #361200; 
	background: url(../img/qwiches/bgimg.jpg) center center fixed;
	margin-top: 0%;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	height:50%;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	float: left;
}

.shoppic{
	display:inline-block;
	margin-left: 1%;
	margin-top: 2.5%;
	width: auto;
	float: left;
}

.details{
	font-weight:bold;
	font-family:textfont;
	background-color:#CC985F;
	margin:0.5%;
	float: right;
	width: 40%;
	border:1px solid #CC985F;
	border-radius:5px;
	box-shadow:0px 0px 15px #CC985F; 
}

.timing{
	display:inline;
	margin-top: 1%;
	margin-left: 1%;	
	margin-left: 1%;	
	float: left;
	height: 30%;
	width: auto;
	/*border-width: 1px;
	border-style: solid;*/
	font-size: 150%;
	text-align: center;
}

.status{
	display:inline;
	background-color:#CC985F;
	margin-top: 1%;
	float:left;
	clear:both;
	height: 10%;
	width: 45%;
	font-size: 140%;
	padding:1%;
}
.statustext{
	margin-right:10px;
	float:left;
	width:50%;
	display:inline;	
}
.status img{
	float:left;
	display:inline;
	border-radius: 11px;
	height: 5%;
	width: 45%;
}
.dayswrap{
	float:right;
	display:inline;
	height: 30%;
	width:50%;
}
.days{
	display:inline;
	margin:auto;
	width:auto;
	/*border-width: 1px;
	border-style: solid;*/
}

.days ul{
	list-style-type: none;
	margin-left: 8%;
	padding: 0;
}

.days ul li{
	background-color: green;
	display: inline;
	padding: 2.5%;
	border-radius: 2px;
	font-size: 75%;
	font-weight: bold;
	/*border-width: 2px;
	border-style: solid;*/

}
.contact
{
	font-size: 120%;
	float:right;
	margin-right:6%;
	margin-top: 2%;
	/*border-width: 1px;
	border-style: solid;	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;*/
	
}
.owner{
	float:left;
	font-weight: bold;
	text-decoration: underline;

}
.ownername{
	font-size: 90%;
	font-weight: bold;

}
.ownernum{
	font-size: 90%;
	font-weight: bold;
	letter-spacing:1px;
}