@CHARSET "ISO-8859-1";

body{
	background-color:#FFFF66;
	
}
.wrapper{
	width:80%;
	float:left;
	margin-left:10%;
}
.header{
	margin-top:10px;
	width:100%;
	float:left;
	
}
#mono{
	text-align:center;
	float:left;
	margin-left:10%;
	width:20%;
	color:#FE5A1D;
	font-family:monofont;
	font-size:80px;
}
.searchdiv{
	margin-top: 3%;
float: left;
width: 30%;
margin-left: 40%;
background-color: white;
height: 20px;
}

@font-face
{
font-family: monofont;
src: url(../fonts/mickey.ttf);
}
@font-face
{
font-family: textfont;
src: url(../fonts/stewartsans.ttf);
}

.navigation{
	float:left;
	width:100%;
	background-color:#FE5A1D;
	margin-top:15px;
}
.navigation ul{
	width:100%;
	margin:0;
	padding-left: 0;
	float:left;
	
}
.navigation ul li{
	cursor:pointer;
	padding:10px;
	text-align:center;
	width:8%;
	float:left;
	list-style:none;
}
.navigation ul li:hover{
	
	background-color:#FFFF66;
	border-bottom-style:solid;
	border-color:white;
	border-width:1px;
}

.navigation ul li a{
	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
	color:rgb(81, 79, 126);
	cursor:pointer;
	text-decoration:none;
	font-size:13px;
}

.navbar{
	width:100%;
	float:left;
}
.reglog{
	cursor:pointer;
	padding:10px;
	font-size:12px;
	margin-left:76%;
	float:left;
	width:10%;
	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
	color:rgb(81, 79, 126);
}
.reglog:hover{
	color:white;
}
.myaccount:hover{
	color:white;
}
.myaccount{
	cursor:pointer;
	padding:10px;
	font-size:12px;
	margin-left:2px%;
	float:left;
	width:10%;
	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
	color:rgb(81, 79, 126);
}
.offers{
	margin-top:1px;
	float:left;
	width:100%;
}
.trending{
	background-color:white;
	margin-top:5px;
	width:75%;
	float:left;
	height:310px;
}
.todaymenu{
	height:310px;
	overflow:scroll;
	margin-top:5px;
	background-color:white;
	margin-left:1%;
	width:24%;
	float:left;
		}
.todaymenuhead{
	padding:10px;
	float:left;
	width:100%;
	text-align:center;
	font-size:40px;
	color:#FE5A1D;
	font-family:monofont;
	
}
.restdetail{
	float:left;
	width:100%;
	background-color:#FE5A1D
}
.resthead{
	padding:4px;
	font-size:25px;
	color:blue;
	font-weight:bold;
	float:left;
	width:100%;
	font-family:textfont;
}
.restmenu{
	padding:4px;
	font-size:18px;
	color:white;
	float:left;
	width:100%;
	font-family:textfont;}
}
.trendobject{
	margin: 10px;
font-family: textfont;
float: left;
width: 46%;
padding-top: 10px;
}
.trendobject img{
	float:left;
	margin-right:5px;
	width:150px;
	height:150px;
}
.trendtext{
	padding: 8px;
border-style: solid;
border-radius: 5px;
border-width: 1px;
height: 135px;
background-color: #FE5A1D;
float: left;
width: 28%;
color: white;
font-family:textfont;
	
}
.shopname{
	margin-top:5px;
	float:left;
	color:white;
}
.trendshop{
	margin-top:5px;
	float:left;
	width:100%;
	
}
.trendshophead{
	font-weight:bold;
	float:left;
	color:rgb(81, 79, 126);
	
	
}
.loginaccount{
	float:left;
	width:100%;
	
	
}
.feedback{
	font-family:textfont;
	font-color:white;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color:grey;
	background-color:blue;
	color:white;
	height:15px;
	position:fixed;
	top:50%;
	right:-3%;
	width:98px;
	writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
	 cursor:pointer;
}