@CHARSET "ISO-8859-1";

body{
	padding:0;
	margin:0;
	background-color:white;
}
#box{
	width:85%;
	margin-left:auto;
	margin-right:auto;
}
.imgslide{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
#fixed_head{
	/*box-shadow:-7px 7px 5px #888888;*/
	border: 1px solid black;
	background-color:#361200;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	float:left;
	width:85%;
	height:83px;
	padding:0;
	opacity: 0.8;
	position:fixed;
	z-index:50;
	top:0px;
	margin-top:0px;
}
.cname{
	display: inline-block;
	padding: 0px;
	letter-spacing:5px;
	font-family:monofont;
	font-size:50px;
	font-weight:bold;
	color:white;
	margin-left:100px;
	margin-top:2px;
	margin-bottom:10px;
}
.loginaccount{
	float:right;
	display: inline-block;
	}
.reglog{
	padding-left:10px;
	float:right;
	display: inline-block;
	margin-right:20px;
	cursor:pointer;
	padding-top:10px;
	font-size:12px;
	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
	color:#FFFFFF;
}
.reglog:hover{
	text-shadow: 0.5px 0.49px #ffffff;
}
.myaccount:hover{
	text-shadow: 0.5px 0.49px #ffffff;
}
.myaccount{
	float:right;
	display: inline-block;
	margin-right:10px;
	cursor:pointer;
	padding-top:10px;
	font-size:12px;
	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
	color:#FFFFFF;
}

.navigation{
	/*box-shadow:-7px 7px 5px #888888;*/
	position:fixed;
	margin-left:auto;
	margin-right:auto;
	margin-top:85px;
	display: inline-block;
	clear:left;
	z-index:60;
	width:85.6%;
}
.navigation ul{
	width:100%;
	margin:0;
	padding-left: 0;
	float:left;
}
.navigation ul li{
	background-color:#361200;
	font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
	cursor:pointer;
	padding:0.95%;
	text-align:center;
	width:8.05%;
	float:left;
	list-style:none;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
	font-size:13px;
}
.navigation ul li a{
text-decoration:none;
color:white;
}
.navigation ul li:hover{
	opacity:0.9;
}
.navbar ul ul{
	margin-top:12%;
	padding: 0px;
	margin-bottom: -13%;
	border-style: none;
	width: 100%;
	display: none;
	float: left;
}
.navbar ul ul li{
	margin-left: -12%;
	padding: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 122%;
	float: left;
}
.navbar ul ul li a{
	text-decoration:none;
	color:#FFFFFF;
}
.navbar ul li:hover > ul{
	display:block;
}

.navbar ul li li:hover{
	background-color:#498FA0;
	width:124%;
}	
.navigation ul li li a{
	padding:0px;
}	
.navbar{
	width:100%;
	float:left;
}


@font-face
{
font-family: monofont;
src: url(../fonts/JandaCelebrationScript.ttf);
}
@font-face
{
font-family: submonofont;
src: url(../fonts/mickey.ttf);
}
@font-face
{
font-family: textfont;
src: url(../fonts/stewartsans.ttf);
}


.offers{
	margin-top:12%;
	float:left;
	width:100%;
}
.trending{
	background-color:white;
	margin-top:5px;
	width:75%;
	float:left;
	height:30%;
}
.todaymenu{
	height:30%;
	overflow:scroll;
	margin-top:5px;
	background-color:#361200;
	margin-left:1%;
	width:24%;
	float:left;
	opacity:0.8;
		}
.todaymenuhead{
	padding:10px;
	float:left;
	width:100%;
	text-align:center;
	font-size:40px;
	color:white;
	font-family:submonofont;

}
.restdetail{
	float:left;
	width:100%;
	background-color:#361200;
	opacity:0.8;
}
.resthead{
	padding:4px;
	font-size:25px;
	color:#A55730;
	font-weight:bold;
	float:left;
	width:100%;
	font-family:textfont;
}
.restmenu{
	padding:4px;
	font-size:18px;
	color:white;
	float:left;
	width:100%;
	font-family:textfont;}

.trendobject{
margin-left:2.6% !important ;
	margin: 10px;
font-family: textfont;
float: left;
width: 46%;
}
.trendobject img{
	float:left;
	margin-right:5px;
	width:150px;
	height:150px;
}
.trendtext{
	padding: 8px;
border-style: solid;
border-radius: 5px;
border-width: 1px;
height: 135px;
background-color: #361200;
float: left;
opacity:0.8;
width: 53%;
color: white;
font-family:textfont;

}
.shopname{
	margin-top:5px;
	float:left;
	color:white;
}
.trendshop{
	margin-top:5px;
	float:left;
	width:100%;

}
.trendshophead{
	font-weight:bold;
	float:left;
	color:#A55730;
width:50%;

}
.trendshopname{
padding:2px;
float:left;
width:47%;
}

.feedback{
	padding:8px;
	font-family:textfont;
	font-weight:bold;
	font-size:18px;
	color:white;
	text-align:center;
	border:1px solid #361200;
	border-radius:5px;
	box-shadow:7px 7px 5px #888888;
	background-color:#361200;
	height:16px;
	position:fixed;
	top:50%;
	right:-3%;
	width:90px;
	writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
	cursor:pointer;
}

.shophead{
width:100%;
font-size:30px;
font-family:textfont;
padding:2%;
background:#802E05;
color:white;
}
.addproductform{
display:none;
position:absolute;
top:30%;
height:150px;
left:25%;
width:50%;
background:#361200;
color:white;
}
.addproduct{
padding:1%;
cursor:pointer;
float:left;
width:auto;
border-style:solid;
border-width:1px;
background:#802E05;
color:white;
}
.producttable{
float:left;
width:100%;
}
.mycartbut{
text-indent: 25px;
background-image: url(../img/mycart.png);
background-repeat: no-repeat;
background-position: center left;
float: right;
width: 30%;
cursor: pointer;
font-size: 12px;
font-family: "Trade Gothic W01", Helvetica, Arial, sans-serif;
color: #FFFFFF;
margin-top: 5%;
}

.mycartbut:hover{
	text-shadow: 0.5px 0.49px #ffffff;}
	
